---
#
---

.game-embed {
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 0px) {
    max-width: 1360px;
  }
}
